In [1]:
from jupyterthemes import jtplot
import pandas as pd
import numpy as np
import seaborn as sns
from shapely.geometry import Point
from matplotlib import pyplot as plt
import geopandas as gpd
%matplotlib inline
jtplot.style()

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

In [2]:
sfparcels = gpd.read_file('https://data.sfgov.org/resource/acdm-wktn.geojson?$limit=250000'); sfparcels.head()

,project_id_drop,from_address_num,date_map_alt,odd_even,zoning_code,zoning_district,pw_recorded_map,mapblklot,date_map_add,to_address_num,...,street_type,project_id_add,date_rec_drop,block_num,blklot,in_asr_secured_roll,date_rec_add,lot_num,active,geometry
0,None,0,None,E,P,PUBLIC,True,0001001,1998-07-01,0,...,None,ORIG_BASEMAP,None,0001,0001001,True,None,001,True,"MULTIPOLYGON (((-122.42200 37.80848, -122.4220..."
1,None,0,None,E,C-2,COMMUNITY BUSINESS,True,0002001,1998-07-01,0,...,None,ORIG_BASEMAP,None,0002,0002001,True,None,001,True,"MULTIPOLYGON (((-122.42083 37.80863, -122.4208..."
2,None,160,None,E,C-2,COMMUNITY BUSINESS,True,0004002,1998-07-01,160,...,ST,ORIG_BASEMAP,None,0004,0004002,True,None,002,True,"MULTIPOLYGON (((-122.41570 37.80833, -122.4157..."
3,None,206,None,E,C-2,COMMUNITY BUSINESS,True,0005001,1998-07-01,286,...,ST,ORIG_BASEMAP,None,0005,0005001,True,None,001,True,"MULTIPOLYGON (((-122.41735 37.80812, -122.4174..."
4,None,350,None,E,C-2,COMMUNITY BUSINESS,True,0006001,1998-07-01,366,...,ST,ORIG_BASEMAP,None,0006,0006001,True,None,001,True,"MULTIPOLYGON (((-122.41897 37.80791, -122.4191..."

In [3]:
APN_tax_res = pd.read_csv('C:/Users/Rohan/Documents/NYU/PUI/SFPermitTimes/Data/APNTaxData.csv', index_col=0); APN_tax_res.head()

  Parcel Number  Number of Rooms  Property Area  Total Taxable Value
0       0024002             10.0         2770.0             843421.0
1       0024005             13.0         2812.0            1832895.0
2       0024006             12.0         3402.0             443974.0
3       0024007             10.0         2437.0             168992.0
4       0024009              0.0         7498.0            1382702.0

In [4]:
sfparcels_tax_merged = sfparcels.merge(APN_tax_res, how = 'inner', left_on = 'blklot', right_on = 'Parcel Number'); sfparcels_tax_merged.head()

,project_id_drop,from_address_num,date_map_alt,odd_even,zoning_code,zoning_district,pw_recorded_map,mapblklot,date_map_add,to_address_num,...,blklot,in_asr_secured_roll,date_rec_add,lot_num,active,geometry,Parcel Number,Number of Rooms,Property Area,Total Taxable Value
0,None,1301,None,O,C-2,COMMUNITY BUSINESS,True,0024002,1998-07-01,1301,...,0024002,True,None,002,True,"MULTIPOLYGON (((-122.41894 37.80600, -122.4189...",0024002,10.0,2770.0,843421.0
1,None,710,None,E,RH-3,"RESIDENTIAL- HOUSE, THREE FAMILY",True,0024005,1998-07-01,710,...,0024005,True,None,005,True,"MULTIPOLYGON (((-122.41918 37.80597, -122.4192...",0024005,13.0,2812.0,1832895.0
2,None,712,None,E,RH-3,"RESIDENTIAL- HOUSE, THREE FAMILY",True,0024006,1998-07-01,714,...,0024006,True,None,006,True,"MULTIPOLYGON (((-122.41925 37.80596, -122.4193...",0024006,12.0,3402.0,443974.0
3,None,736,None,E,RH-3,"RESIDENTIAL- HOUSE, THREE FAMILY",True,0024007,1998-07-01,740,...,0024007,True,None,007,True,"MULTIPOLYGON (((-122.41933 37.80595, -122.4193...",0024007,10.0,2437.0,168992.0
4,None,760,None,E,RH-3,"RESIDENTIAL- HOUSE, THREE FAMILY",True,0024009,1998-07-01,760,...,0024009,True,None,009,True,"MULTIPOLYGON (((-122.41964 37.80591, -122.4197...",0024009,0.0,7498.0,1382702.0

In [6]:
sfparcels_tax_merged.to_csv('C:/Users/Rohan/Documents/NYU/PUI/SFPermitTimes/Data/parcels_taxvals_merged.csv')