In [1]:
from jupyterthemes import jtplot
import pandas as pd
import numpy as np
import seaborn as sns
from shapely.geometry import Point
from matplotlib import pyplot as plt
%matplotlib inline
jtplot.style()

In [2]:
sftax = pd.read_csv('C:/Users/Rohan/Documents/NYU/PUI/Assessor_Historical_Secured_Property_Tax_Rolls.csv',\
                usecols=['Use Code','Use Definition','Property Class Code','Property Class Code Definition',
                         'Closed Roll Year', 'Property Location', 'Parcel Number', 'Block',
       'Lot', 'Year Property Built', 'Number of Bathrooms', 'Number of Bedrooms',
       'Number of Rooms', 'Number of Stories', 'Number of Units','Status Code',
       'Zoning Code', 'Construction Type', 'Lot Depth', 'Lot Frontage',
       'Property Area', 'Basement Area', 'Lot Area', 
       'Tax Rate Area Code', 'Percent of Ownership', 'Homeowner Exemption Value', 'Current Sales Date',
       'Assessed Fixtures Value', 'Assessed Improvement Value',
       'Assessed Land Value', 'Assessed Personal Property Value',
       'the_geom', 'Row ID']); sftax.head()

,Closed Roll Year,Property Location,Parcel Number,Block,Lot,Use Code,Use Definition,Property Class Code,Property Class Code Definition,Year Property Built,...,Percent of Ownership,Status Code,Homeowner Exemption Value,Current Sales Date,Assessed Fixtures Value,Assessed Improvement Value,Assessed Land Value,Assessed Personal Property Value,the_geom,Row ID
0,2012,0000 0000 0000,9999065,9999,065,NaN,NaN,NaN,NaN,NaN,...,1.0,S,0.0,2012/01/01,0,0,0,2351,NaN,20129999065
1,2013,0000 0000 0000,9999189,9999,189,NaN,NaN,NaN,NaN,NaN,...,1.0,S,0.0,2013/01/01,0,0,0,1505,NaN,20139999189
2,2007,0000 0000 0000,9999129,9999,129,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,0.0,2008/01/01,0,0,0,0,NaN,20079999129
3,2014,0000 0000 0000,9999178,9999,178,NaN,NaN,NaN,NaN,NaN,...,1.0,S,0.0,2014/01/01,0,0,0,27976,NaN,20149999178
4,2008,0000 0000 0000,9999132,9999,132,NaN,NaN,NaN,NaN,NaN,...,1.0,S,0.0,2008/01/01,0,0,0,0,NaN,20089999132

In [3]:
sftax.isna().sum().sort_values(ascending = False)

Status Code                         2619188
Current Sales Date                  1128959
Construction Type                    462245
Zoning Code                          400029
Year Property Built                  208669
Tax Rate Area Code                     6948
the_geom                               2126
Use Code                                934
Use Definition                          934
Property Class Code Definition          934
Property Class Code                     858
Homeowner Exemption Value                61
Basement Area                            28
Number of Stories                        11
Number of Rooms                          11
Lot                                       1
Percent of Ownership                      1
Assessed Fixtures Value                   0
Assessed Improvement Value                0
Assessed Personal Property Value          0
Assessed Land Value                       0
Closed Roll Year                          0
Lot Area                                  0
Property Area                             0
Lot Frontage                              0
Lot Depth                                 0
Property Location                         0
Number of Units                           0
Number of Bedrooms                        0
Number of Bathrooms                       0
Block                                     0
Parcel Number                             0
Row ID                                    0
dtype: int64

In [248]:
sftax_num = sftax.select_dtypes(include = [np.number])
sftax_num_cols = sftax_num.columns.values
print(sftax_num_cols)

['Closed Roll Year' 'Year Property Built' 'Number of Bathrooms'
 'Number of Bedrooms' 'Number of Rooms' 'Number of Stories'
 'Number of Units' 'Lot Depth' 'Lot Frontage' 'Property Area'
 'Basement Area' 'Lot Area' 'Tax Rate Area Code' 'Percent of Ownership'
 'Homeowner Exemption Value' 'Assessed Fixtures Value'
 'Assessed Improvement Value' 'Assessed Land Value'
 'Assessed Personal Property Value']

In [249]:
sftax_nonnum = sftax.select_dtypes(exclude = [np.number])
sftax_nonnum_cols = sftax_nonnum.columns.values
print(sftax_nonnum_cols)

['Property Location' 'Parcel Number' 'Block' 'Lot' 'Use Code'
 'Use Definition' 'Property Class Code' 'Property Class Code Definition'
 'Zoning Code' 'Construction Type' 'Status Code' 'Current Sales Date'
 'the_geom' 'Row ID']

In [8]:
#permit data is >2013, so filter out parcels with assessments before 2013
sftax_2013 = sftax.loc[sftax['Closed Roll Year'] >= 2013]; (sftax.shape, sftax_2013.shape)

((2666117, 33), (1466332, 33))

In [5]:
(sftax_2013.duplicated(subset = 'Parcel Number').sum())/len(sftax_2013)

0.8529268951369813

In [10]:
highest_zero_cols = list(((sftax_2013 == 0).sum(axis = 0)/len(sftax_2013)).sort_values(ascending = False)[:6].index)
sftax_2013 = sftax_2013.drop(labels = highest_zero_cols, axis = 'columns')
sftax_2013.head()

,Closed Roll Year,Property Location,Parcel Number,Block,Lot,Use Code,Use Definition,Property Class Code,Property Class Code Definition,Year Property Built,...,Lot Area,Tax Rate Area Code,Percent of Ownership,Status Code,Homeowner Exemption Value,Current Sales Date,Assessed Improvement Value,Assessed Land Value,the_geom,Row ID
1,2013,0000 0000 0000,9999189,9999,189,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,S,0.0,2013/01/01,0,0,NaN,20139999189
3,2014,0000 0000 0000,9999178,9999,178,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,S,0.0,2014/01/01,0,0,NaN,20149999178
11,2017,0000 0555 04TH ST-124,3776124Z,3776,124Z,COMM,Commercial Misc,PZ,Parking Stall Condominium,NaN,...,0.0,NaN,1.0,NaN,0.0,NaN,18158,21219,NaN,20173776124Z
14,2019,0000 0050 ELGIN PK0000,3502143,3502,143,SRES,Single Family Residential,Z,Condominium,1913.0,...,0.0,1000.0,1.0,NaN,0.0,NaN,0,0,NaN,20193502143
17,2015,0000 0555 04TH STP-19,3776019Z,3776,019Z,COMM,Commercial Misc,PZ,Parking Stall Condominium,NaN,...,0.0,NaN,1.0,NaN,0.0,NaN,26650,10659,NaN,20153776019Z

In [12]:
sftax_2013['Total Taxable Value'] = sftax_2013['Assessed Land Value'] + sftax_2013['Assessed Improvement Value'] - sftax_2013['Homeowner Exemption Value']
sftax_2013['Total Taxable Value'].describe()

count    1.466299e+06
mean     9.981953e+05
std      7.841751e+06
min      0.000000e+00
25%      1.924900e+05
50%      4.800000e+05
75%      8.762960e+05
max      1.822089e+09
Name: Total Taxable Value, dtype: float64

In [13]:
sftax_2013.isna().sum().sort_values(ascending = False)

Status Code                       1440676
Current Sales Date                 574280
Construction Type                  280340
Zoning Code                        244656
Year Property Built                111648
Tax Rate Area Code                   3593
the_geom                             1415
Use Code                              509
Use Definition                        509
Property Class Code Definition        509
Property Class Code                   433
Homeowner Exemption Value              33
Total Taxable Value                    33
Number of Stories                       7
Number of Rooms                         5
Percent of Ownership                    1
Lot                                     1
Number of Units                         0
Property Location                       0
Property Area                           0
Lot Area                                0
Number of Bathrooms                     0
Block                                   0
Assessed Improvement Value              0
Assessed Land Value                     0
Parcel Number                           0
Row ID                                  0
Closed Roll Year                        0
dtype: int64

In [14]:
sftax_2013 = sftax_2013.drop(labels = ['Status Code','Current Sales Date','Construction Type','Zoning Code',
                                      'Year Property Built','Tax Rate Area Code','the_geom'],
                             axis = 'columns')
sftax_2013.columns

Index(['Closed Roll Year', 'Property Location', 'Parcel Number', 'Block',
       'Lot', 'Use Code', 'Use Definition', 'Property Class Code',
       'Property Class Code Definition', 'Number of Bathrooms',
       'Number of Rooms', 'Number of Stories', 'Number of Units',
       'Property Area', 'Lot Area', 'Percent of Ownership',
       'Homeowner Exemption Value', 'Assessed Improvement Value',
       'Assessed Land Value', 'Row ID', 'Total Taxable Value'],
      dtype='object')

In [18]:
sftax_2013 = sftax_2013.dropna(axis = 'index', subset = ['Use Code', 'Property Class Code',
                                            'Total Taxable Value', 'Number of Rooms'])
sftax_2013.isna().sum().sort_values(ascending = False)[:8]

Number of Stories             7
Lot                           1
Percent of Ownership          1
Closed Roll Year              0
Row ID                        0
Assessed Land Value           0
Assessed Improvement Value    0
Homeowner Exemption Value     0
dtype: int64

In [19]:
sftax_2013_regs = sftax_2013.loc[:,['Closed Roll Year','Parcel Number','Number of Rooms',
                                  'Property Area','Total Taxable Value', 'Use Code','Property Class Code']]; 
sftax_2013_regs.head()

,Closed Roll Year,Parcel Number,Number of Rooms,Property Area,Total Taxable Value,Use Code,Property Class Code
11,2017,3776124Z,0.0,0,39377.0,COMM,PZ
14,2019,3502143,6.0,1598,0.0,SRES,Z
17,2015,3776019Z,0.0,0,37309.0,COMM,PZ
19,2017,3776240Z,0.0,0,39377.0,COMM,PZ
23,2018,3776156Z,0.0,0,40164.0,COMM,PZ

In [22]:
((sftax_2013_regs == 0).sum(axis = 0)/len(sftax_2013_regs)).sort_values(ascending = False)
#sanityIndex = (sftax_2013_regs['Number of Rooms'] > 0) & (sftax_2013_regs['Property Area'] > 0) 
#sftax_2013_regs = sftax_2013_regs[sanityIndex]

Number of Rooms        0.147138
Property Area          0.081736
Total Taxable Value    0.028999
Closed Roll Year       0.000000
Parcel Number          0.000000
Use Code               0.000000
Property Class Code    0.000000
dtype: float64

In [26]:
outlierIndex = (sftax_2013_regs['Total Taxable Value'] < sftax_2013_regs['Total Taxable Value'].quantile(0.9999)) 
#& (sftax_2013_regs['Property Area'] > sftax_2013_regs['Property Area'].quantile(0.001)) & \
#(sftax_2013_regs['Property Area'] < sftax_2013_regs['Property Area'].quantile(0.999)) & \
#(sftax_2013_regs['Number of Rooms'] < sftax_2013_regs['Number of Rooms'].quantile(0.999)) 
sftax_2013_regs = sftax_2013_regs[outlierIndex]
sftax_2013_regs.describe()

       Closed Roll Year  Number of Rooms  Property Area  Total Taxable Value
count      1.465638e+06     1.465638e+06   1.465638e+06         1.465638e+06
mean       2.016024e+03     7.731745e+00   2.858152e+03         9.443097e+05
std        1.999953e+00     2.305018e+01   1.651421e+04         5.208564e+06
min        2.013000e+03     0.000000e+00   0.000000e+00         0.000000e+00
25%        2.014000e+03     4.000000e+00   1.000000e+03         1.926925e+05
50%        2.016000e+03     6.000000e+00   1.422000e+03         4.800200e+05
75%        2.018000e+03     8.000000e+00   2.239000e+03         8.761800e+05
max        2.019000e+03     3.606000e+03   3.015837e+06         3.300215e+08

In [52]:
#separate out all use/class codes for parcels that have residential or mixed uses
RES_mixeduse_index = (sftax_2013_regs['Use Code'] == 'MRES') | (sftax_2013_regs['Use Code'] == 'SRES') | 
(sftax_2013_regs['Property Class Code'] == 'AC') | (sftax_2013_regs['Property Class Code'] == 'CM') | 
(sftax_2013_regs['Property Class Code'] == 'CZ') | (sftax_2013_regs['Property Class Code'] == 'MB') | 
(sftax_2013_regs['Property Class Code'] == 'MIX') | (sftax_2013_regs['Property Class Code'] == 'RDAP') | 
(sftax_2013_regs['Property Class Code'] == 'VA15') | (sftax_2013_regs['Property Class Code'] == 'VRX')
                          
RES_mixeduse_parcels = sftax_2013_regs.loc[RES_mixeduse_index]

APN_point_estimate_regs = RES_mixeduse_parcels.groupby(by = 'Parcel Number', as_index = False).agg(
{'Number of Rooms':'mean','Property Area':'mean','Total Taxable Value':'median'})

APN_point_estimate_regs

       Parcel Number  Number of Rooms  Property Area  Total Taxable Value
0            0024002             10.0         2770.0             843421.0
1            0024005             13.0         2812.0            1832895.0
2            0024006             12.0         3402.0             443974.0
3            0024007             10.0         2437.0             168992.0
4            0024009              0.0         7498.0            1382702.0
...              ...              ...            ...                  ...
191708       8949001              0.0            0.0                  0.0
191709       8949002              0.0            0.0                  0.0
191710       8952001              0.0            0.0            6567300.0
191711       8954001              0.0            0.0                  0.0
191712       8954002              0.0            0.0           49455720.0

[191713 rows x 4 columns]

In [53]:
APN_point_estimate_regs.to_csv('C:/Users/Rohan/Documents/NYU/PUI/SFPermitTimes/Data/APNTaxData.csv')